/**
 * Created by Kuz-100-Rads-Bar.
 * User: 1
 * Date: 2023-06-16
 * Time: 13:22
 */

 /* Définition des couleurs utilisées dans le projet "RUN" pour différents éléments et états */
:root {
    --color1: #000000;
    --color2: #CCCCCC;
    --color3: #87CEEB;
    --color4: rgba(0, 0, 0, 0.082);
}

/********** FONT **********/
@font-face {
    font-family: "Source Sans Pro";
    src: url(../fonts/SourceSansPro-Light.ttf);
}

/********** RESET Paramètre généraux **********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



