/**
 * Created by Kuz-100-Rads-Bar.
 * User: 1
 * Date: 2023-06-16
 * Time: 13:22
 */

 /* Définition des couleurs utilisées dans le projet "RUN" pour différents éléments et états */
:root {
    --color1: #000000;
    --color2: #CCCCCC;
    --color3: #87CEEB;
    --color4: rgba(0, 0, 0, 0.082);
}

/********** FONT **********/
@font-face {
    font-family: "Source Sans Pro";
    src: url(../fonts/SourceSansPro-Light.ttf);
}

/********** Règlages et Paramètre généraux **********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

h1 {
    font-size: 3.4rem;  /* 1rem = 16px */
    font-weight: 200;
}

/********** Règlages Globales **********/
/*Tout nos h2, a, p, button */
h2 {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: -1px;
}

a,
a:visited {
    text-decoration: none;
    color: var(--color1);
}

p {
    line-height: 36px;
    margin: 25px 0; /* 25px en haut et en bas et 0 sur les cotés */
}

.button {
    border: 1px solid var(--color2);
    background: transparent;
    border-radius: 50px;
    padding: 13px 30px; /* 13px en haut et en bas et 30px sur les cotés */
    display: inline-block; /* pour que le bouton soit comme un block ! */
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer; /* pour que le curseur soit un pointeur aussi pour le dernier bouton "SEND MESSAGE" ! */
    /* Précision pour la font du bouton du formulaire */
    font: 700 0.75rem "Source Sans Pro";
}





/********** BODY **********/
body {
    font-family: "Source Sans Pro", sans-serif;
}

